.env
.envrc
.python-version
.vscode/launch.json
.vscode/settings.json
*.clab.yml.bak
*.tar.xz
**/__pycache__
**/.benchmarks
**/.pytest_cache
**/.ruff_cache
avd-cEOS-Lab
clab-*
**/.DS_Store
docker-compose.override.yml
docker-compose.yml
generated-configs/**
playbooks/documentation
playbooks/intended
playbooks/reports
pyrightconfig.json
