*.tar.xz
clab-*
avd-cEOS-Lab
*.clab.yml.bak
__pycache__
playbooks/reports
playbooks/documentation
playbooks/intended
.python-version
.envrc
.env
pyrightconfig.json
docker-compose.override.yml
docker-compose.yml
generated-configs/**