{% set ns = namespace(loopback_intf_name=none, loopback_ip=none, management_intf_name=none, management_ip=none) %}
{% for intf in data.InfraDevice.edges[0].node.interfaces.edges %}
{%   if intf.node.role.node.name.value == "management" %}
{%     set ns.management_intf_name = intf.node.name.value %}
{%     set ns.management_ip = intf.node.ip_addresses.edges[0].node.address.value.split('/')[0] %}
{%   endif %}
{% endfor %}
!
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$k3ndSP/UAhRxi0of$5tbWjS9vURmesFYCSwSLBQFdjJSLiK8bda0gURc5JdeBCow5oDBHTHfOUNlt2pUbU/ovRVwsb1KL96sToHa7X/
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
hostname {{ data.InfraDevice.edges[0].node.name.value }}
!
spanning-tree mode mstp
!
management api http-commands
   no shutdown
!
management api gnmi
   transport grpc default
!
management api netconf
   transport ssh default
!
interface {{ ns.management_intf_name }}
{% for intf in data.InfraDevice.edges[0]["interfaces"] %}
{%   if intf.node.name.value == ns.management_intf_name %}
{%     for ip in intf["ip_addresses"] %}
   ip address {{ ip["address"]["value"] }}
{%   ipv6 address 2001:172:20:20::3/64 %}
{%     endfor %}
{%   endif %}
{% endfor %}
!
no ip routing
!
ip route 0.0.0.0/0 172.20.20.1
!
ipv6 route ::/0 2001:172:20:20::1
