- name: Query Interfaces information with the query_graphql module
  hosts: platform_eos
  gather_facts: false

  vars_files: "{{ playbook_dir }}/group_vars/all.yaml"

  vars:
    local_config_path: "/tmp/{{ inventory_hostname }}.conf"

  tasks:
    - name: Query Artifact
      opsmill.infrahub.artifact_fetch:
        artifact_name: "OSPF Startup Config for arista devices"
        target_id: "{{ id }}"
      register: artifact

    - name: Save configs to localhost
      ansible.builtin.copy:
        content: "{{ artifact.text }}"
        dest: "{{ local_config_path }}"

    - name: Push configuration to device
      arista.eos.eos_config:
        src: "{{ local_config_path }}"
