---
# Inventory can be test with : ansible-inventory -i playbooks/inventory.yml  -y --list

plugin: opsmill.infrahub.inventory
api_endpoint: "http://localhost:8000"
timeout: 30

strict: false
# branch: "main"

nodes:
  InfraDevice:
    include:
      - name
      - location.name
      - role
      - device_type.name
      - device_type.platform.ansible_network_os
      - primary_address.address

compose:
  hostname: name
  ansible_host: primary_address.address | ansible.utils.ipaddr('address')
  device_type : device_type.name
  platform : device_type.platform.ansible_network_os
  location: location.name

keyed_groups:
  - prefix: role
    key: role
  - prefix: location
    key: location | lower
  - prefix: device_type
    key: device_type | lower
  - prefix: platform
    key: platform