---
name: CI
# yamllint disable rule:truthy rule:line-length
on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  VALE_VERSION: "3.13.0"

jobs:
  files-changed:
    name: Detect which file has changed
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      documentation: ${{ steps.changes.outputs.documentation_all }}
      python: ${{ steps.changes.outputs.python_all }}
      yaml: ${{ steps.changes.outputs.yaml_all }}
      markdown: ${{ steps.changes.outputs.markdown_all }}
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v6"
      - name: Check for file changes
        uses: opsmill/paths-filter@v3.0.2
        id: changes
        with:
          token: ${{ github.token }}
          filters: .github/file-filters.yml

  python-lint:
    if: needs.files-changed.outputs.python == 'true'
    needs: ["files-changed"]
    runs-on: "ubuntu-latest"
    timeout-minutes: 5
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v6"
        with:
          submodules: true
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Install uv
        uses: "astral-sh/setup-uv@v7"
        with:
          version: "0.9.18"
      - name: "Install dependencies"
        run: "uv sync --group dev"
      - name: "Check code formatting"
        run: |
          uv run ruff format --check --diff
          uv run ruff check --select I .
      - name: "Run linters"
        run: "uv run ruff check ."
      - name: "Run type checks"
        run: "uv run mypy ."

  yaml-lint:
    if: needs.files-changed.outputs.yaml == 'true'
    needs: ["files-changed"]
    runs-on: "ubuntu-latest"
    timeout-minutes: 5
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v6"
        with:
          submodules: true
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Install uv
        uses: "astral-sh/setup-uv@v7"
        with:
          version: "0.9.18"
      - name: "Install dependencies"
        run: "uv sync --group dev"
      - name: "Run yamllint"
        run: "uv run yamllint -s ."

  markdown-lint:
    if: needs.files-changed.outputs.markdown == 'true'
    needs: ["files-changed"]
    runs-on: "ubuntu-latest"
    timeout-minutes: 5
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v6"
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: "Install markdownlint-cli"
        run: npm install -g markdownlint-cli
      - name: "Run markdownlint"
        run: markdownlint "**/*.{md,mdx}"

  integration-test:
    needs: ["files-changed", "python-lint", "yaml-lint", "markdown-lint"]
    if: |
      always() && !cancelled() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled')
    runs-on:
      group: "huge-runners"
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    timeout-minutes: 60
    env:
      INFRAHUB_DB_TYPE: neo4j
      INFRAHUB_API_TOKEN: '06438eb2-8019-4776-878c-0941b1f1d1ec'
      INFRAHUB_TIMEOUT: 600
      INFRAHUB_TESTING_LOG_LEVEL: INFO
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v6"
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Install uv
        uses: "astral-sh/setup-uv@v7"
        with:
          version: "0.9.18"
      - name: "Install dependencies"
        run: "uv sync --group dev"
      - name: "Set environment variables"
        run: |
          RUNNER_NAME=$(echo "${{ runner.name }}" | grep -o 'ghrunner[0-9]\+' | sed 's/ghrunner\([0-9]\+\)/ghrunner_\1/')
          echo "PYTEST_DEBUG_TEMPROOT=/var/lib/github/${RUNNER_NAME}/_temp" >> $GITHUB_ENV
      - name: "Run integration tests"
        run: "uv run pytest tests/integration/"
        env:
          REPOSITORY_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  documentation:
    defaults:
      run:
        working-directory: ./docs
    if: |
      always() && !cancelled() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      needs.files-changed.outputs.documentation == 'true'
    needs: ["files-changed", "yaml-lint", "python-lint", "markdown-lint"]
    runs-on: "ubuntu-22.04"
    timeout-minutes: 5
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v6"
        with:
          submodules: true
      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: docs/package-lock.json
      - name: "Install Node dependencies"
        run: npm install
      - name: Install uv
        uses: "astral-sh/setup-uv@v7"
        with:
          version: "0.9.18"
      - name: "Install Python dependencies"
        run: "uv sync"
        working-directory: ./
      - name: "Build docs website"
        run: "uv run invoke docs"

  validate-documentation-style:
    if: |
      always() && !cancelled() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled')
    needs: ["files-changed", "yaml-lint", "python-lint", "markdown-lint"]
    runs-on: "ubuntu-22.04"
    timeout-minutes: 5
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v6"
        with:
          submodules: true

      # The official GitHub Action for Vale doesn't work, installing manually instead:
      # https://github.com/errata-ai/vale-action/issues/103
      - name: Download Vale
        run: |
          curl -sL "https://github.com/errata-ai/vale/releases/download/v${VALE_VERSION}/vale_${VALE_VERSION}_Linux_64-bit.tar.gz" -o vale.tar.gz
          tar -xzf vale.tar.gz
        env:
          VALE_VERSION: ${{ env.VALE_VERSION }}
      - name: "Validate documentation style"
        run: ./vale $(find ./docs/docs -type f \( -name "*.mdx" -o -name "*.md" \) )
